html {
	height: 100%
}

body {
	background-image: url('debut_light.png');
	height: 90%;
}

input {
	margin-bottom: 10px;
}

button {
	
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
}

#postcode {
	height: 25px;
}

#left-column {
	padding: 10px;
	width: 100%;
	/*display: flex;
	display: -webkit-flex;*/
	flex: 1;
}

#search-area {
	margin: 0 auto;
	text-align: center;
	/*flex: 1;*/
}

#choices-area {
	/*flex: 4;*/
}

#map-canvas {
	border-radius: 10px;
	flex: 5;
	margin: 0 auto;
	/*height: 90%;
	width: 90%;*/
}